---
import ImageGlow from "../image-glow.astro";
import { Event } from "../../types";
interface Props {
  event: Event;
  imageUrl: string;
}

const { event, imageUrl } = Astro.props;
---
<li class="h-full w-full max-w-sm mx-auto">
  <a href=`events/${event.sys.id}`>
    <ImageGlow id={event.sys.id} imageUrl={imageUrl} title={event.name} />
  </a>
</li>
