---
import { Icon } from "astro-icon/components";
import Instaimage from "./instaimage.astro";

interface Image {
  url: string;
}

interface Member {
  name: string;
  position: string;
  instagram: string;
  image: Image;
}

export interface Props {
  members: Member[];
}

const { members } = Astro.props;
---

<section class="h-full w-full overflow-auto p-4">
  <ul class="flex w-full flex-wrap justify-center gap-6">
    {
      members.map((member) => (
        <li>
          <Instaimage
            image={member.image.url}
            position={member.position}
            name={member.name}
            instagram={member.instagram}
          />
        </li>
      ))
    }
  </ul>
</section>
