---
import HomeLayout from "~/layouts/HomeLayout.astro";
import Compatibility from "~/components/compatibility.astro";
import Features from "~/components/features.astro";
import Intro from "~/components/intro.astro";
import Showcase from "~/components/showcase.astro";
import "~/styles/index.css";
---

<HomeLayout title="Home Page">
  <main class="space-y-24 px-8 py-32">
    <Intro />
    <Features />
    <Compatibility />
    <Showcase />
  </main>
</HomeLayout>
