---

import ImageGlow from "../components/image-glow.astro";
import MainLayout from "~/layouts/MainLayout.astro";
---

<MainLayout>
    <section>
        <ImageGlow id="1" imageUrl="https://images.ctfassets.net/ijw8sdaj87dg/6NSsFyPTLUlFnW1WdILVrJ/386ffd4222eba5b7cd27bdfdcc3f7bbc/23_12_2023.jpeg" title="Batalla Oilar Borroka" />
    </section>
</MainLayout>
