---

---

<h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Coming Soon</h2>
<div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
    <div class="flex flex-col gap-3">
        <div
                class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                style='background-image: url("https://cdn.usegalileo.ai/sdxl10/5419aca1-25e0-4dd3-a331-9be95b64d2b0.png");'
        ></div>
    </div>
    <div class="flex flex-col gap-3">
        <div
                class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                style='background-image: url("https://cdn.usegalileo.ai/sdxl10/2e4b8626-6326-4ca7-8bf1-983f42dbef23.png");'
        ></div>
    </div>
    <div class="flex flex-col gap-3">
        <div
                class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                style='background-image: url("https://cdn.usegalileo.ai/sdxl10/afa03a6b-6c6c-443c-bbdb-cc2383d4b411.png");'
        ></div>
    </div>
</div>
