---
import { Icon } from "astro-icon/components";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "",
    description: "Astro's official website",
    icon: "mdi:home",
  },
  {
    url: "",
    description: "Código fuente en GitHub",
    icon: "fa-brands:github",
  },
  {
    url: "",
    description: "Email",
    icon: "mdi:envelope",
  },
  {
    url: "",
    description: "Instagram",
    icon: "fa-brands:instagram",
  },
];
---

<footer class="relative flex h-64 items-center justify-center bg-gradient-to-b from-transparent to-white/20">
  <ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-4">
    {
      links.map((link) => (
        <li>
          <a
            class="flex size-16 items-center justify-center rounded-full border-3 hover:bg-white/20 shadow-lg bg-white/10 border-current p-4"
            href={link.url}
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="size-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>
