---

---
<h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Past Events</h2>
<div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
    <div class="flex flex-col gap-3 pb-3">
        <div
                class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg"
                style='background-image: url("https://cdn.usegalileo.ai/sdxl10/006c2e44-2c5b-430e-ae1f-1e771f79f8d9.png");'
        ></div>
        <p class="text-white text-base font-medium leading-normal">Rap Fest 2023</p>
    </div>
    <div class="flex flex-col gap-3 pb-3">
        <div
                class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg"
                style='background-image: url("https://cdn.usegalileo.ai/sdxl10/83c0b4c2-8823-49ba-abce-5f5a1172b4eb.png");'
        ></div>
        <p class="text-white text-base font-medium leading-normal">Underground Beats</p>
    </div>
    <div class="flex flex-col gap-3 pb-3">
        <div
                class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg"
                style='background-image: url("https://cdn.usegalileo.ai/sdxl10/bf6b3a43-3f42-44e9-941b-eb32d35bfaf1.png");'
        ></div>
        <p class="text-white text-base font-medium leading-normal">NYC Block Party</p>
    </div>
    <div class="flex flex-col gap-3 pb-3">
        <div
                class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg"
                style='background-image: url("https://cdn.usegalileo.ai/sdxl10/4fa2d54b-9e78-4028-8c78-051366e769cc.png");'
        ></div>
        <p class="text-white text-base font-medium leading-normal">Bay Area Bangers</p>
    </div>
    <div class="flex flex-col gap-3 pb-3">
        <div
                class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg"
                style='background-image: url("https://cdn.usegalileo.ai/sdxl10/ba2bb9ef-3059-41d5-8954-d03700610095.png");'
        ></div>
        <p class="text-white text-base font-medium leading-normal">Miami Heatwave</p>
    </div>
    <div class="flex flex-col gap-3 pb-3">
        <div
                class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg"
                style='background-image: url("https://cdn.usegalileo.ai/sdxl10/1ba4675c-1c9f-4e41-b5e8-6bc9135ab327.png");'
        ></div>
        <p class="text-white text-base font-medium leading-normal">Chi-Town Grooves</p>
    </div>
</div>
