---

---

<h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Upcoming Events</h2>
<div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
    <div class="flex flex-col gap-3 pb-3">
        <div
                class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg"
                style='background-image: url("https://cdn.usegalileo.ai/stability/9742734d-cbd4-4def-8c75-bc4ba77a33ff.png");'
        ></div>
        <div>
            <p class="text-white text-base font-medium leading-normal">LA Vibes</p>
            <p class="text-[#9dabb8] text-sm font-normal leading-normal">Mar 15, 2023</p>
        </div>
    </div>
    <div class="flex flex-col gap-3 pb-3">
        <div
                class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg"
                style='background-image: url("https://cdn.usegalileo.ai/stability/86b0527b-38e5-485e-99de-f9e8e9ba6206.png");'
        ></div>
        <div>
            <p class="text-white text-base font-medium leading-normal">Houston Hustle</p>
            <p class="text-[#9dabb8] text-sm font-normal leading-normal">Apr 18, 2023</p>
        </div>
    </div>
    <div class="flex flex-col gap-3 pb-3">
        <div
                class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg"
                style='background-image: url("https://cdn.usegalileo.ai/sdxl10/b7f985f9-81d5-4430-b1d3-a10fe3295949.png");'
        ></div>
        <div>
            <p class="text-white text-base font-medium leading-normal">Detroit Dopefest</p>
            <p class="text-[#9dabb8] text-sm font-normal leading-normal">May 21, 2023</p>
        </div>
    </div>
</div>
